body {
    font-family: sans-serif;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.one .intro {
    width: 400px;
}

.one img {
    width: 400px;
}

.two {
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.two img {
    border: 2px solid blue;
    border-radius: 15px;
    min-width: 150px;
    min-height: 150px;
}

.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
}

.four .banner {
    background-color: rgb(34, 90, 143);
    padding: 20px 90px;
    display: flex;
    gap: 72px;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}